

/* Gallery Styles ------------------ */


.flex-item {
  @include mq(medium) {
    float: left;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
  }
  @include mq(large) {
    float: left;
    width: 33.2%;
    margin: 0 auto;
    padding: 15px;
  }
}
