

/* footer ------------------ */

.main-footer {
  font-weight: bolder;

  @include mq(small) {
    a {
      text-transform: uppercase;
    }
    width: 90%;
		margin: 0 auto;
  }
  @include mq(medium) {
    width: 90%;
		margin: 0 auto;
  }
  @include mq(large) {
    width: 90%;
		margin: 0 auto;
  }
}


#main-nav {
  li {
    @include mq(medium) {
      float: left;
      margin-left: 12px;
    }
    @include mq(large) {
      float: left;
      margin-left: 12px;
    }
  }

  @include mq(small) {
    float: right;
  }
  @include mq(medium) {
    float: right;
  }
  @include mq(large) {
    float: right;
  }
}

.hidden {
  @include mq(medium) {
    display: none;
  }
  @include mq(large) {
    display: none;
  }
}

#hidden {
  @include mq(small) {
    display: none;
  }
  @include mq(medium) {
    display: inherit;
  }
  @include mq(large) {
    display: inherit;
  }
}
