/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	color: $dark-grey;
  background: $off-white;
}

p {
	@media #{$brk-narrow} {
    text-align: center;
  }
}



img {
  max-width: 100%
}
