// Color Variables

$dark-grey: #3a3a3a;
$off-white: #F6F7F2;


// Media Query breakpoint

$brk-narrow   : '(min-width: 320px)';
$brk-mid      : '(min-width: 768px)';
$brk-wide     : '(min-width: 1024px)';
